APP_ENV=local
APP_BASE_URL=https://polascin.net
APP_TIMEZONE=Europe/Bratislava
TRUST_PROXY_HEADERS=false
TRUSTED_PROXY_IPS=
ACCESS_LOG_ENABLED=true
ACCESS_LOG_RETENTION_DAYS=90
NEWSLETTER_FROM_EMAIL=lubomir@polascin.net

DB_HOST=localhost
DB_NAME=polascin
DB_USER=polascin_user
DB_PASS=CHANGE_ME_IN_PRODUCTION
